{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  },
  "globals": {
    "document": true
  },
  "env": {
    "jest/globals": true
  },
  "plugins": ["jest", "mocha"]
}
